/* ======================================
|   |   |  Mobile Menu
========================================= */
.navbar-header {
    position: relative;
}

#mobile-nav-open-btn {
    font-size: 30px;
    color: #f4c613;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    left: 890px;
    top: 4px;
    
    /*Hide mobile nav open button*/
    display: none;
}

#mobile-nav {
    /*Mobile menu will be hidden by default with height 0%*/
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, .9);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    overflow-y: hidden;
}
#mobile-nav-close-btn {
    font-family: "Raleway", serif;
    font-size: 70px;
    color: #212226;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    top: -9px;
    right: 13px;
    -webkit-transition: .3s;
    transition: .3s;
}
#mobile-nav-content {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 10%;
}
#mobile-nav ul li {
    margin-bottom: 20px;
}
#mobile-nav a {
    font-family: "Raleway", serif;
    font-size: 18px;
    color: #212226;
    font-weight: 400;
    text-transform: uppercase;
    display:inline;
    -webkit-transition: .3s;
    transition: .3s;
}
#mobile-nav a:hover,
#mobile-nav a:focus,
#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
    color: #f4c613;
}



/*==========================================
|   |   Bootstrap 3 Media Queries
============================================*/

/* Large Device (Desktop and Laptop) */
@media (min-width: 1200px) {
}

/* Medium Device (Landscape tablets and Medium Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {

    /*All home navigation section*/
    .all-navigation i {
        font-size: 30px;
    }
    
    .all-navigation p {
        font-size: 12px;
        margin-top: 10px;
    }

    .left-section a {
        height: 100px;
        width: 150px;
    }
    
    .centre-section a {
        height: 100px;
        width: 150px;
    }
    
    .right-section a {
        height: 100px;
        width: 150px;
    }

    /*Services section - Left*/
    .service {
        margin: 15px 0;
    }
    
    .service .icon {
        font-size: 35px;
    }
    
    .service h5 {
        font-size: 10px;
    }
    
    .service h4 {
        font-size: 18px;
    }
    
    .service p {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 5px;
    }

    /*Servie 02 Responsive tab*/
    #services-tabs .tab-bg {
        padding: 26.5px 30px;
        min-height: 100px;
    }
    
    .service-tab p {
        line-height: 20px;
        margin-bottom: 20px;
    }
    
    /*Contact section*/
    .col-md-6 {
        padding-right: 1px;
    }

    ul.office-details li {
        font-size: 11.5px;
    }
}

/* Small Device (Portable tablets and Small Laptops) */
@media (min-width: 768px) and (max-width: 991px) {

    /*Hide Navigation menu for smalller devices to allow Mobile menu drop down button*/
    .navbar-nav {
        display: none;
    }

    /*Mobile Menu button display*/
    #mobile-nav-open-btn {
        display: block;
    }

    /*Navigation bar*/
    .navbar {
        padding: 20px 0;
    }

    /*All home navigation section*/
    .all-navigation i {
        font-size: 30px;
    }
    
    .all-navigation p {
        font-size: 12px;
        margin-top: 10px;
    }

    .left-section a {
        height: 100px;
        width: 150px;
        margin-left: 115px;
    }
    
    .centre-section a {
        height: 100px;
        width: 150px;
        margin-left: 60px;
    }
    
    .right-section a {
        height: 100px;
        width: 150px;
        margin-left: -35px;
    }

    /* Generic Vertical sections */
    .vertical-heading h2 {
        font-size: 18px;
    }

    /*Services section - Left*/
    .service {
        margin: 15px 0;
    }
        
    .service .icon {
        font-size: 25px;
    }
        
    .service h5 {
        font-size: 9px;
    }
        
    .service h4 {
        font-size: 12px;
        margin-bottom: 3px;
    }
        
    .service p {
        font-size: 10px;
        line-height: 10px;
        margin: 0 0 5px;
    }    

    /*Servie 02 Responsive tab*/
    #services-tabs .tab-bg {
        padding: 22.5px 30px;
        min-height: 100px;
    }

    .service-tab h2 {
        font-size: 30px;
        margin-bottom: 15px;
    }
        
    .service-tab h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
        
    .service-tab p {
        line-height: 15px;
        margin-bottom: 15px;
        font-size: 10px;
    }

    /*Testimonials section*/
    .testimonial h3 {
        font-size: 15px;
        line-height: 35px;
        margin-top: 10px;
    }

    .testimonial p {
        font-size: 12px;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 10px;
    }
        
    .author .author-name-des {
        width: 106px;
        margin-top: 10px;
        text-align: left;
    }
        
    .author .author-name-des p {
        margin: 0 0 10px;
    }

    .testimonial .row {
        margin-bottom: 10px;
    }

    /*Stats Section*/
    .stats-item i {
        font-size: 32px;
        margin: 0 0 6px 0;
    }
        
    .stats-item h3 {
        font-size: 25px;
        margin: 5px 0 5px 0;
    }

    .stats-item p {
        line-height: 15px;
    }

    /*Blog Section*/
    #blog-left p {
        margin: 25px 0;
    }
    
    #blog-btn a {
        margin: 0;
    }
        
    .blog-post h4 {
        line-height: 40px;
        margin: 0;
    }
    .blog-post p {
        line-height: 24px;
        margin: 0;
        font-weight: 300;
    }

    /*Contact Left*/
    .vertical-heading h2 {
        padding-left: 10px;
    }

    .office h4 {
        font-size: 12px;
        margin-bottom: 0;
        padding-left: 10px;
    }

    #contact-left p {
        margin: 10px 0 0 0;
        font-size: 10px;
        padding-left: 10px;
    }

    ul.office-details li {
        font-size: 9.5px;
        padding-left: 10px;
    }

    /*Contact Right*/
    #contact-right h4 {
        font-size: 12px;
    }
    #contact-right p {
        margin-bottom: 10px;
    }
    #contact-right form textarea.form-control {
        min-height: 150px;
    }

}

/* Extra small Device (Landscape phones and Portrait Tablets) */
@media (max-width: 767px) {

    /* Mobile Menu
    #mobile-nav-open-btn {
        display: block;
    }*/
}

/* Extra small Device (Portrait phones and Smaller devices) */
@media (max-width: 480px) {
}

/* Extra small Device (Landscape phones and Portrait Tablets) */
@media (max-width: 320px) {

}