/*  ======================================
    Irowa Medical Centre Style Themes    
    ------------------------------------------------------
    Fonts: Raleway and Open Sans (and default 'san serif')
    ------------------------------------------------------
    Colors:
        Moon Yellow:	#f4c613
        Grey:			#212226
        White:          #fff   
        White Smoke:	#f4f4f4
        Black:			#000
        Sheen Green #A6E029
        Yellow Green colours    #41B00A

    ====================================== */

/* ======================================
|    |   |   html, body
========================================= */
html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}

/* ======================================
|    |   |   Preloader
========================================= */

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    background-image: url("../img/preloader/preloader.gif")
}

/* ======================================
|   |   |   Home
========================================= */
#home {
    background: none;
    height: 100%;
}

#home-bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url("../Video/picture.jpg") no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#home-heading h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
}

#home-heading h1 span {
    color: #f4c613;
    font-weight: 300;
}

#home-text p {
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin: 8px 0px 30px 0px;
}

/* ======================================
|   |   |   Home Navigation Section
========================================= */

#home-navigation-section {
    width: 900px;
    height: 160px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    z-index: 1;
}

.all-navigation {
    display: table-cell;
    vertical-align: middle;
}

.all-navigation i {
    font-size: 45px;
    margin: 0;
}

.all-navigation p {
    font-size: 16px;
    margin-top: 18px;
    font-family: 'Raleway', 'sans serif';
}

/*HOVER EFFECT, COLOR AND SMOOTH TRANSITION*/
.left-section a:hover,
.left-section a:focus {
    background-color: #A6E029;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.centre-section a:hover,
.centre-section a:focus {
    background-color: #A6E029;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.right-section a:hover,
.right-section a:focus {
    background-color: #A6E029;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.left-section a {
    background-color: #fff;
    color: #000;
    height: 130px;
    width: 220px;
    padding: 20px 10px;
    position: relative;
    border-radius: 5px;
    margin-left: 230px;
}

.centre-section a {
    background-color: #41B00A;
    color: #000;
    height: 130px;
    width: 220px;
    padding: 20px 10px;
    position: relative;
    border-radius: 5px;
    margin-left: 120px;
}

.right-section a {
    background-color: #f4c613;
    color: #000;
    height: 130px;
    width: 220px;
    padding: 20px 10px;
    position: relative;
    border-radius: 5px;
    margin-left: -70px;
}

/* ======================================
|   |   |   Buttons
========================================*/
.btn-general {
    font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0, 4px;
    padding: 9px 36px 9px 36px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-yellow {
    color: #fff;
    border: 1px solid #f4c613;
    background-color: #f4c613;
}

.btn-yellow:hover,
.btn-yellow:focus {
    color: #fff;
    background-color: #212226;
    border: 1px solid #212226;
}
/*for 3 home navigations*/
.btn-primary:hover,
.btn-primary:focus {
    background-color: #A6E029;
    color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}


.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 3px 15px;
    border-radius: 4px;
    font-size: 22px;
}
/* ======================================
|   |   |   Arrow down
========================================= */
#arrow-down {
    position: absolute;
    left: 50%;
    bottom: 3%;
    color: #fff;
    font-size: 25px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: -16px;
    z-index: 1;
}

#arrow-down:hover,
#arrow-down:focus {
    color: #f4c613;
}

/* ======================================
|   |   |   Content
========================================= */
.content-box-lg {
    padding: 120px 0;
}

.content-box-md {
    padding: 30px 0px;
}

/* ================================----==========
|   |   |   Vertical Headings - About Section
=============================================== */
.vertical-heading h2 {
    margin: 0 0 0 0;
    font-size: 20px;
    line-height: 35px;
    margin-left: 100px;
}

.vertical-heading span {
    color: #f4c613;
    text-transform: uppercase;
    font-weight: 300;
}

/* ======================================
|   |   |   About 1
========================================= */
#about-right p {
    margin-bottom: 30px;
}

#about-bottom {
    margin-top: 10px;
}

#about-bottom img {
    margin: 0 auto;
}

#about-bottom-vd {
    margin-top: 10px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#about-bottom-vd source {
    margin: 0 auto;
}

#about-bg-video {
    min-width: 100%;
    min-height: 100%;
    width: 400px;
    height: 400px;
    background: url("../Video/picture.jpg") no-repeat;
}

/* ======================================
|   |   |   About 2
========================================= */
#about-02 {
    background-color: #f4f4f4;
}

.about-item {
    background-color: #fff;
    padding: 80px 20px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-item i {
    font-size: 30px;
    margin: 0;
}

.about-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #f4c613;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 20px;
}

/*Hover State*/
.about-item:hover {
    background-color: #f4c613;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: #fff;
}

.about-item:hover hr {
    background-color: #fff;
}

.about-item:hover i {
    transform: translateY(-20px);
}

/*Smooth Transition*/
.about-item,
.about-item i,
.about-item hr {
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.about-item h3,
.about-item p {
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

/* ======================================
|   |   |   Team
========================================= */

#team .vertical-heading {
    min-height: 100px;
}

.team-member {
    margin: 5px;
    position: relative;
}

.team-member-overlay {
    background-color: rgba(33, 34, 38, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.team-member-info {
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.team-member-info h6 {
    color: #f4c613;
    font-size: 14px;
    margin: 0;
}

.vertical-heading h2 {
    margin-left: 0px;
}

.team-member-info p {
    color: #fff;
}

.team-member:hover .team-member-overlay {
    opacity: 1;
}

.col-md-6 h3 {
    font-size: 24px;
    color: #000;
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

/* ======================================
|   |   |   Social Icons
========================================= */
ul.social-list {
    padding: 0;
    margin-top: 50px;
}

ul.social-list li {
    display: inline-block;
    padding: 0;
}

ul.social-list li a {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

ul.social-list li:nth-child(1) a:hover {
    background-color: #41B00A;
    border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
    background-color: #0e76a8;
    border-color: transparent;
}

/* ======================================
|   |   |   Slider Buttons
========================================= */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    color: #212226;
    font-size: 25px;
    background-color: none;
}

/* ======================================
|   |   |   Statment Section
========================================= */
#statement {
    background: url("../img/tech/irowa_mid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ======================================
|   |   |   Service Section
========================================= */

#service-01 img {
    margin: 10px 0;
}

#service .vertical-heading {
    padding-top: 0;
    padding-bottom: 30px;
}

.service {
    margin: 15px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.service .icon {
    font-size: 25px;
    margin: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.service:hover .icon {
    color: #41B00A;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}

.service h4 {
    font-size: 20px;
    margin: 5px 0 5px 0;
}

/* ======================================
|   |   |   Service 02 (Responsive Tab) 
========================================= */
#services-02 {
    background-color: #f4f4f4;
    padding-bottom: 160px;
}

#services-tabs ul {
    margin-bottom: 40px;
}

#services-tabs ul li {
    padding: 5px 30px;
}

#services-tabs ul li a {
    font-family: "Raleway", "sans-serif";
    font-size: 12px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}

/* Tab Active State*/
#services-tabs ul li.r-tabs-state-active a {
    color: #f4c613;
    font-weight: 700;
    border-bottom: 3px solid #f4c613;
    padding-bottom: 5px;
    -webkit-transition: border-color 300ms linear;
    transition: border-color 300ms linear;
}

.service-tab .col-md-6 {
    padding: 0;
}

.service-tab img {
    width: 100%;
    margin: 0 auto;
}

.service-tab .tab-bg {
    background: #fff;
    padding: 59px 30px;
    min-height: 390px;
}

.service-tab h2 {
    font-size: 48px;
    color: #bbb;
    margin-bottom: 20px;
    font-weight: 100;
}

.service-tab h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.service-tab p {
    line-height: 24px;
    margin-bottom: 30px;
}

#service-tab ul {
    margin-bottom: 30px;
}

/* ======================================
|   |   |  Testimonials
========================================= */
#testimonials {
    background: #fff;
    padding-bottom: 45px;
    overflow: visible;
}

#testimonials .vertical-heading {
    padding: 80px 0;
    margin-bottom: 50px;
}

#testimonial-slider {
    background: #fff;
    top: -90px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.testimonial .row {
    margin-bottom: 25px;
}

.testimonial {
    padding: 20px 45px 0 45px;
    color: #000;
}

.testimonial h3 {
    font-size: 25px;
    line-height: 35px;
    color: #f4c613;
    font-weight: 400;
}

.testimonial .stars {
    font-size: 15px;
    margin: 20px 0 10px 0;
    color: #f4c613;
}

.testimonial p {
    line-height: normal;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.author .author-name-des {
    width: 106px;
    margin-top: 25px;
    text-align: left;
}

.author .author-name-des p {
    margin: 0 0 20;
}


/* ======================================
|   |   |  Stats
========================================= */
#stats {
    background: url("../img/tech/Pic-services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#stats .content-box-md {
    background: rgba(0, 0, 0, 0.81)
}

#stats .vertical-heading {
    margin-bottom: 50px;
}

#stats .vertical-heading h2 {
    color: #fff;
}

.stats-item {
    background: rgba(61, 68, 68, 0.5);
    border-radius: 14px;
    min-height: 170px;
    padding: 25px 50px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.stats-item i {
    font-size: 42px;
    color: #f4c613;
    margin: 0 0 6px 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.stats-item h3 {
    font-size: 32px;
    color: #fff;
    margin: 5px 0 5px 0;
}

.stats-item p {
    color: #fff;
    margin: 0 0 0 0;
}

.stats-item:hover {
    background: #f4c613;
}

.stats-item:hover i {
    color: #212226;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
/* ======================================
|   |   |  Blog
========================================= */
#blog {
    background: #f4f4f4;
    padding: 30px 0;
}
#blog-left p {
    margin: 25px 0;
}
#blog-btn a {
    margin: 0;
}
.blog-post {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.blog-post h4 {
    line-height: 40px;
    margin: 0;
}
.blog-post p {
    line-height: 24px;
    margin: 0;
    font-weight: 300;
}
.blog-post a {
    display: inline-block;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #f4c613;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}
.blog-post a:hover {
    color: #212226;
}

/* ======================================
|   |   |  Contact
========================================= */
/*Contact Left*/
#contact-left p {
    margin: 10px 0 10px 0;
    font-size: 14px;
}
ul.office-details {
    list-style: none;
    padding: 0;
}
ul.office-details li {
    font-family: "open sans", "sans-serif";
    margin-top: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 13px;
}
ul.office-details li i {
    font-size: 20px;
    width: 35px;
}

/*Contact Right*/
#contact-right {
    padding: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
#contact-right h4 {
    font-size: 24px;
}
#contact-right p {
    margin-bottom: 10px;
}
#contact-right form .form-control {
    font-family: "Open sans", "Sans Serif";
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}
#contact-right form textarea.form-control {
    min-height: 150px;
}

/* ======================================
|   |   |  Google Map
========================================= */
#map {
    height: 500px;
}

/* ======================================
|   |   |  Footer
========================================= */
footer {
    background: #212226;
    padding: 20px;
}
footer p {
    color: #fff;
    line-height: 20px;
    margin: 0;
}
footer p span {
    color: #f4c613;
}

/* ======================================
|   |   |  Navigation
========================================= */
.navbar {
    padding: 10px 0;
}
.site-nav-wrapper {
    padding: 0 10px;
}
.navbar-brand {
    padding: 10px 0;
}
ul.navbar-nav > li > a {
    font-family: "Raleway", sans-serif;
    color:#fff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    background: none;
    color: #f4c613;
}
/*White Navigation*/
.white-nav-top {
    background:#fff;
    padding: 10px o;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}
.white-nav-top ul.navbar-nav > li > a {
    color: #000;
}


/* ======================================
|   |   |  Animation
========================================= */
#home-heading-1,
#home-heading-2,
#home-text,
.left-section,
.centre-section,
.right-section {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

#home-heading-1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#home-heading-2 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#home-text {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.6s;
}
.left-section {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.centre-section {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.right-section {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}